.btn-primary { 
    background-color: #0b0146 !important; 
}
.btn-success { 
    background-color: #f4a701 !important; 
    border-color: #f4a701; 
}
.btn-warning { 
    background-color: #ffc107 !important; 
    border-color: #ffc107; color: #000; 
}
.table-dark { 
    --bs-table-bg: #0b0146; 
}
.container-main { 
    max-width: 1200px; margin: 0 auto; padding: 20px 15px; 
}
.card { 
    border-radius: 15px; overflow: hidden; margin-bottom: 40px; 
}